<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa fa-game-o">&nbsp;</i>{{ title }}
    </a>
    <ul class="nav navbar-nav">
      <li class="new-item pull-left">
        <a class="nav-link active" href="" routerLink="/profile">Profile</a>
      </li>
      <li class="new-item pull-left">
        <a class="nav-link active" href="" routerLink="/">Home</a>
      </li>
      <li class="new-item pull-left">
        <a class="nav-link active" href="" routerLink="/leaderbord">Leaderboard</a>
      </li>
      <li class="new-item pull-left">
        <a class="nav-link active" href="" routerLink="/tournament">Tournament</a>
      </li>
    </ul>
  </div>
</nav>
<p style="margin-left: 20px;">
<router-outlet></router-outlet>
</p>
